{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" ng-app="nirvarisApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--<link rel="icon" href="{% static 'image/fav.png' %}">-->
	<link rel="icon" type="image/png" href="{% static 'image/favicon-32x32.png' %}" sizes="32x32" />
	<link rel="icon" type="image/png" href="{% static 'image/favicon-16x16.png' %}" sizes="16x16" />
    <title>{% block head_title %}{% trans 'Chalet One Oak' %}{% endblock %}</title>
	
	<link href="https://www.google.com/fonts#UsePlace:use/Collection:Lato:400,300,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css" />
	
	
</head>
<body class="{% block body_class %}{% endblock %}" ng-controller="nirvarisCtrl">
	<section>
		
		<div class="gallery-header"></div>
		
		<div id="content">
			<div class="main-block">
				<a class="close-goback-button" href="{% url 'home' %}#to_gallery">&nbsp;</a>
	
				<div id="picslidercontainer">
						<div id="pic-slider">
							<a href="#" id="navigation-left">
								<div class="arrow-left"></div>
							</a>
							<div id="slider" class=""></div>
							<a href="#" id="navigation-right">
								<div class="arrow-right"></div>
							</a>
						</div>
					</div>
				<!--<div id="pic-slider-mob-zoomButton" class="mobileonly mobileButtons">&nbsp;</div>
				<div id="pic-slider-mob-shareBarWrapper" class="mobileonly">
					<div id="pic-slider-mob-shareOpenButton" class="mobileButtons">&nbsp;</div>
					<div id="pic-slider-mob-shareBarInner">
						<div id="pic-slider-mob-shareCloseButton" class=""><span>&nbsp;</span></div>
					</div>
				</div>
				<div id="pic-slider-mob-showInfo" class="mobileonly mobileButtons onlyForInfo">&nbsp;</div>-->
				<!-- End .picslider -->
			</div>
		</div>
		
		
		<div id="shares-gallery">
			<div class="shares-container">
				<div id="scrolling-shares" class="shares-wrapper">
					<a data-social_id="fb_social_share" target="_blank" href=""><span class="facebook"></span></a>
					<a data-social_id="tw_social_share" target="_blank" href=""><span class="twitter"></span></a>
					<a data-social_id="pt_social_share" target="_blank" href=""><span class="pinterest"></span></a>
					<a data-social_id="gp_social_share" target="_blank" href=""><span class="googleplus"></span></a>
				</div>
			</div>
		</div>
		<div id="overlay-popup" class="loading">
			<div id="overlay-popup-dg-logo">
				<!--<img src="http://dgfashion.dunebuggysrl.netdna-cdn.com/wp-brand-content/themes/dg_brandsite/img/logo.png" />-->
				<div id="popup-close-button">&nbsp;</div>
			</div>
			<div id="overlay-popup-content"></div>
		</div>
		<!-- End .picslider -->
		
	</section>
	
	
	
	<script src="{% static 'js/jquery/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'js/jquery/plugins.js' %}"></script>
	<script src="{% static 'js/gallery.plugins.js' %}"></script>
	<script src="{% static 'js/gallery.jplayer.js' %}"></script>
	<script src="{% static 'js/gallery.js' %}"></script>
	
	
	<script type="text/javascript">
		
		/*
			// PORTRAIG
			// medium
	         "width":593,
	         "height":830
			// zoom
	         "width":1396,
	         "height":1955
		
			// LANDSCAPE
			// medium
	         "width":1186,
	         "height":830
			// zoom
	         "width":1680,
	         "height":1176
		*/
		
	var json_gallery=[  
	   {  
	      "slide_unique_id":1001,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":0,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_0844a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_0844a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1002,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":1,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_0906a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_0906a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1003,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":2,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1388a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1388a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1004,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":3,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_0969a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_0969a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1005,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":4,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1341a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1341a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1006,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":5,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1569a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1569a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1007,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":6,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1009a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1009a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1008,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":7,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1069a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1069a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1009,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":8,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1287a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1287a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1010,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":9,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_0945a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_0945a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1011,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":10,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_0996a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_0996a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1012,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":11,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1108a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1108a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1013,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":12,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1341a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1341a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1014,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":13,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1507a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1507a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1015,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":14,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1696a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1696a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1016,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":15,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1522a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1522a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1017,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":16,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1210a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1210a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1018,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":17,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1219a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1219a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1019,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":18,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1441a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1441a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1020,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1648a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1648a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1021,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1747a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1747a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1022,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1341a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1341a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1023,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1735a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1735a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1024,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1729a-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1729a-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1025,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1756a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1756a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1026,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1825a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1825a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1027,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1848a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1848a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1028,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/_MG_1890a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/_MG_1890a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1029,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/2a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/2a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1030,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/1-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/1-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   },
	   {  
	      "slide_unique_id":1031,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/3-medium.jpg' %}",
	         "title":"",
	         "width":593,
	         "height":830
	      },
	      "slideType":"vertical",
	      "imgRatio":0.7144578313253,
	      "imgRatioReverse":1.3996627318718,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/3-zoom.jpg' %}",
	         "title":"",
	         "width":1396,
	         "height":1955
	      }
	   },
	   {  
	      "slide_unique_id":1032,
	      "slideMetadata":{  
	         "share_image":"",
	         "share_video":false,
	         "title":"",
	         "og_title":"",
	         "description":"",
	         "og_description":"",
	         "key":"",
	         "credits":false,
	         "models":false
	      },
	      "slideNumber":19,
	      "startWithMe":false,
	      "pushUrl":"",
	      "slideImage":{  
	         "url":"{% static 'image/gallery/4a-medium.jpg' %}",
	         "title":"",
	         "width":1186,
	         "height":830
	      },
	      "slideType":"horizontal",
	      "imgRatio":1.4289156626506,
	      "imgRatioReverse":0.69983136593592,
	      "zoomImage":{  
	         "url":"{% static 'image/gallery/4a-zoom.jpg' %}",
	         "title":"",
	         "width":1680,
	         "height":1176
	      }
	   }
	   
	];


	jQuery(document).ready(function() {
		var startSlide = 1001;
		var query = window.location.search;
		if (query){
			startSlide = window.location.search.substr(window.location.search.indexOf('=') + 1);
		}
		
		for (var i = 0; i < json_gallery.length; i ++) {
			if (json_gallery[i].slide_unique_id == startSlide) {
				json_gallery[i].startWithMe = true;
				break;
			}
		}
		
		picSlider.init(json_gallery);
	});
	</script>
	
	
</body>
</html>